<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="assets/images/vodafone-logo.png" class="mr-2 logo-app" />
  </ng-template>
  <ng-template pTemplate="end">
    <span class="p-float-label">
      <p-multiSelect
        id="ms-teams"
        [options]="teams"
        [(ngModel)]="dataService.selectedTeamsCache"
        optionLabel="name"
        display="chip"
        (onChange)="changeTeams($event)"
      ></p-multiSelect>
      <label for="ms-teams">Select Teams</label>
    </span>
  </ng-template>
</p-menubar>

<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
  [key]="'logout'"
></p-confirmDialog>
