<!-- <p-menubar [model]="items">
  <input type="text" pInputText placeholder="Search" />
  <button pButton label="Logout" icon="pi pi-power-off"></button>
</p-menubar> -->

<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="assets/images/vodafone-logo.png" class="mr-2 logo-app" />
  </ng-template>
  <ng-template pTemplate="end">
    <button
      pButton
      pRipple
      type="button"
      label="Logout"
      class="p-button-outlined p-button-danger"
      icon="pi pi-sign-out"
      (click)="showLogOut()"
    ></button>
  </ng-template>
</p-menubar>

<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
  [key]="'logout'"
></p-confirmDialog>
