<div class="container m-0">
  <div class="row">
    <div class="col-4 bg-secondary-subtle">
      <div class="card w-100">
        <img
          src="../../../assets/images/candidate image placeholder.jpg"
          class="card-img-top"
          [alt]="candidate.name + ' photo'"
        />
        <div class="card-body">
          <h5 class="card-title text-center fs-4 fw-semibold">
            {{ candidate.name }}
          </h5>
          <div class="card-text">
            <p class="text-black text-center fw-lighter">
              {{ candidate.current_position }}
            </p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-2 col-md-12 fw-semibold m-auto">
                <i class="pi pi-envelope fs-4" pTooltip="E-mail"></i>
              </div>
              <div class="col-lg-10 col-md-12">
                <a href="mailto:{{ candidate.email }}">{{ candidate.email }}</a>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-2 col-sm-12 fw-semibold m-auto">
                <i class="pi pi-briefcase fs-4" pTooltip="Applied Position"></i>
              </div>
              <div class="col-lg-10 col-sm-12">
                {{ candidate.proposed_position }}
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-2 col-md-12 fw-semibold m-auto">
                <i class="pi pi-phone fs-4" pTooltip="Phone"></i>
              </div>
              <div class="col-lg-10 col-md-12">{{ candidate.phone }}</div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-2 col-md-12 fw-semibold m-auto">
                <i class="pi pi-linkedin fs-4" pTooltip="LinkedIn Profile"></i>
              </div>
              <div class="col-lg-10 col-md-12">
                <a [href]="candidate.linkedin_profile" target="_blank">
                  {{ candidate.linkedin_profile }}
                </a>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-2 col-md-12 fw-semibold m-auto">
                <i class="pi pi-file-pdf fs-4" pTooltip="CV"></i>
              </div>
              <div class="col-lg-10 col-md-12">
                <a routerLink="." skipLocationChange (click)="display = true"
                  >Preview</a
                >&nbsp;&nbsp;
                <div class="vr align-baseline"></div>
                &nbsp;&nbsp;
                <a routerLink="." skipLocationChange>Download</a>
              </div>
            </div>
          </li>
        </ul>
        <div class="card-body">
          <a
            [href]="candidate.linkedin_profile"
            target="_blank"
            class="card-link"
            ><p-chip label="LinkedIn" icon="pi pi-linkedin"></p-chip
          ></a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>

<p-sidebar [(visible)]="display" position="right" [style]="{ width: '50em' }">
  <ng-template pTemplate="content" class="p-0">
    <pdf-viewer
      [src]="pdfSrc"
      [render-text]="true"
      [fit-to-page]="true"
      [original-size]="false"
      [autoresize]="false"
    ></pdf-viewer>
  </ng-template>
</p-sidebar>
