@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Titillium+Web:400,700&display=swap");
@import "../node_modules/bulma/css/bulma.css";
@import "./custom-styles.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/nova/theme.css";
/* You can add global styles to this file, and also import other style files */
/* GLOBAL STYLES */
html,
body {
  height: 100%;
}
html {
  background-color: rgba(255, 255, 179, 0.5);
  overflow-y: auto !important;
}
.p-sidebar-content,
pdf-viewer {
  height: 100%;
}
.p-sidebar-header {
  position: absolute !important;
  z-index: 2 !important;
  width: 100% !important;
}
.p-sidebar-footer {
  display: none;
}
.ng2-pdf-viewer-container::-webkit-scrollbar {
  width: 0.5em;
}

.ng2-pdf-viewer-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.ng2-pdf-viewer-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
span.p-tag.p-component {
  margin-top: 0.25rem !important;
}
span.p-tag-value {
  font-size: 0.85rem !important;
}
span.p-tag.p-component {
  background-color: #4a4a4a;
}
p-tag {
  margin-right: 0.3rem;
}
.add-tag-input {
  background-color: #4a4a4a;
  border: none;
  padding: 0 !important;
}
.add-tag span i,
p-tag span i.pi-times-circle {
  cursor: pointer;
}
.add-tag span i.pi-check-circle {
  right: 1.5rem;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0) 100%
  );
}
.add-tag span i.pi-times-circle {
  right: 0.1rem !important;
}
p-tag span i.pi-times-circle {
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
  right: 0.3rem !important;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0) 100%
  );
}
p-tag span.p-tag {
  position: relative;
  display: inline-block;
}
.add-tag span i.pi-check-circle::before {
  color: mediumseagreen;
}
.add-tag span i.pi-times-circle::before {
  color: red;
}
.add-tag button {
  height: 1rem !important;
}
div.p-dropdown.p-component {
  width: 100%;
}
